*{
  margin:0;
  padding:0;

}

body{
 background:url(../image/12312312.png)   ;
  background-size:cover;
  background-position: left ;

}
.content{
  width:1150px;
  height:900px;
  margin: 0 auto;



}

.header ul{
  padding:40px 0 0 0;
  width:1150px;
  height: 60px;
  margin: 0 auto;
}
.header ul li{
  width: 120px;
  height:40px;
  line-height: 40px;
  float:left;
  font-weight: bolder;
  margin-left: 60px;
  list-style-type: none;
  text-align: center;

}




.header ul li a{

  font-family: arial;
  font-size: 20px;
  font-weight: bolder;
  text-decoration: none;
  color:white;



}
.header ul li a:hover{
  color:#6EE1FF;
  transition: color 0.5s;
}
.intro{
  /*  text-align: center;置中*/
/*  margin-left: auto;
  margin-right: auto;前面content寫過了*/
  margin: auto 0px;

  background-size: contain;
  /*padding-bottom: 300px;??????????*/
   padding:0px 40px 0px 500px;


}

.intro h1{
  width: 300px;
height: 70px;
font-family:  arial;
font-size: 60px;
font-weight: 600;
color: white;
padding-top: 120px;


}

.line1{
  width: 400px;
  height: 3px;
  background-color: white;
  margin-top: 5px


}


.intro p{


  color: white;
  font-family: arial;
  font-size: 15px;
  font-weight:bolder;
  letter-spacing: 3px;
  padding-top: 30px;

}


.L {
  padding-right: 30px;
  width:600px;
}
.R{
  padding-right: 30px;
  width:600px;

}

.intro img{
}

.clear{clear: both;}

@media screen and (max-width:768px){
    .content{
  width: 400px;
  margin: 0 auto;
}

.header ul{
  padding:40px 0 0 0;
  width:700px;
  height:120px;
  margin: 0 auto;
  margin-left: -200px;
background-color:#93a99F;
opacity :0.5;
}
.header ul li a{

  padding-left: 0px;
  color: white;

}
.header ul li{

  padding-left: 80px;


}
.intro{
margin-top: 60px;
  width: 400px;height: 400px;
  background-color : rgba(0,0,0,.3);


}

.intro h1{

padding-top: 30px;


}
  .L {

    float: none;
  }
  .R{

    width:400px;
    float:none;
  }

  .intro {
padding:0px 30px ;

  }

}




.hd_btn{
  display:block;
  width:334px;
  height:65px;
  background: #3BA7C3;
  color:#fff;
  font-size: 24px;
  font-family: sans-serif;
  text-decoration: none;
  border-radius: 30px;
  line-height:65px;
    -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  text-align: center;
}


.hd_btn:hover{
  opacity: 0.7;
}
