*{
  margin:0;
  padding:0;

}

body{

}
.container_1{
  width:100%;
  height:800px;
  background:url(../image/PASSION.png) center -80px;
}
.content{
  width:1150px;
  height:800px;
  margin: 0 auto;
  background-size: cover;

}

.header ul{
  padding:40px 0 0 0;
  width:1150px;
  height: 60px;
  margin: 0 auto;
}
.header ul li{
  width: 120px;
  height:40px;
  line-height: 40px;
  float:left;
  font-weight: bolder;
  margin-left: 60px;
  list-style-type: none;
  text-align: center;

}




.header ul li a{

  font-family: arial;
  font-size: 20px;
  font-weight: bolder;
  text-decoration: none;
  color:white;



}
.header ul li a:hover{
  color:#6EE1FF;
  transition: color 0.5s;
}
.intro{
  margin-top: -80px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;


}

.intro h1{
  font-family: arial;
  font-size: 100px;
  color:white;
  font-weight: bolder;
  letter-spacing:3px;
  padding-top:40px;

}
.intro h2{
  color:white;
  font-family: arial;
  font-size: 30px;
  font-weight:bolder;
  letter-spacing: 5px;
  margin-bottom: 15px;

}
.intro p{
  color:white;
  font-family: arial;
  font-size: 18px;
  font-weight:bolder;


}

.line1{
  width:1071px;
  height:2px;
  background-color: white;
  margin: 10px auto 50px;
}

.hd_btn{
  display:block;
  width:334px;
  height:65px;
  background: #3BA7C3;
  color:#fff;
  font-size: 24px;
  font-family: sans-serif;
  text-decoration: none;
  border-radius: 30px;
  line-height:65px;
  margin:0 auto;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  margin-top: 50px;
}

.hd_btn:hover{
  opacity: 0.7;
}




.intro h1{
  font-family: arial;
  font-size: 100px;
  color:white;
  font-weight: bolder;
  letter-spacing:3px;
  padding-top:190px;

}
.intro h2{
  color:white;
  font-family: arial;
  font-size: 30px;
  font-weight:bolder;
  letter-spacing: 5px;
  margin-bottom: 15px;

}
.intro p{
  color:white;
  font-family: arial;
  font-size: 15px;
  font-weight:bolder;
  letter-spacing: 3px;

}

.line1{
  width:1071px;
  height:4px;
  background-color: white;
  margin: 30px auto 50px;
}

.hd_btn{
  display:block;
  width:334px;
  height:65px;
  background: #3BA7C3;
  color:#fff;
  font-size: 24px;
  font-family: sans-serif;
  text-decoration: none;
  border-radius: 30px;
  line-height:65px;
  margin:0 auto;
  margin-top: 40px;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.hd_btn:hover{
  opacity: 0.7;
}

.container_2{
  width:100%;
  height:800px;
  background:#F1EBD9;

}

.portfolio{
  margin: 0 auto;
  height:700px;
  width:1162px;
  background: #F1EBD9;
}
 .portfolio h1{
     font-size: 64px;
     font-family: arial;
     color:#6A6A6A;
     text-align: center;


 }
 .portfolio #b_portfolio{
    margin:0 auto;
    text-align: center;
    padding-top: 85px;

 }
 .line2{
  width: 103px;
  height: 10px;
  background: #6A6A6A;
  margin: 40px auto 0px;
 }


.strap_1{
    width:1162px;
    height:364px;
    margin: 80px auto 0;

}

.strap_1_1{
  width:262px;
  height:364px;
  float: left;
}

 .image_1{
   width:262px;
   height:257px;
   /*background:url(../image/helper.png);*/
   background-size: contain;
   margin-bottom: 30px;
 }

 .image_1 a{
  opacity:0.7;
 }
 .image_1 a:hover{
   opacity:1;
   transition: opacity 0.5s;
 }


.line2_1{
  width:220px;
  height:5px;
  background:#6A6A6A;
  margin: 0 auto;
  margin-bottom: 10px;
}

 .strap_1 .strap_1_1 h1{
   font-size: 24px;
    text-align: center;
 }

 .strap_1_2{
   width:262px;
   height:364px;
float:left;
padding-left: 190px;
 }

  .image_2{
    width:262px;
    height:257px;

    background-size: contain;
    margin-bottom: 30px;
  }
  .image_2 a{
   opacity:0.7;
  }
  .image_2 a:hover{
    opacity:1;
    transition: opacity 0.5s;
  }
 .line2_2{
   width:220px;
   height:5px;
   background:#6A6A6A;
   margin: 0 auto;
   margin-bottom: 10px;
 }

  .strap_1 .strap_1_2 h1{
    font-size: 24px;
     text-align: center;
  }

  .strap_1_3{
    width:262px;
    height:364px;
float:right;

  }

   .image_3{
     width:262px;
     height:257px;

     background-size: contain;
     margin-bottom: 30px;
   }
   .image_3 a{
    opacity:0.7;
   }
   .image_3 a:hover{
     opacity:1;
     transition: opacity 0.5s;
   }
  .line2_3{
    width:220px;
    height:5px;
    background:#6A6A6A;
    margin: 0 auto;
    margin-bottom: 10px;
  }

   .strap_1 .strap_1_3 h1{
     font-size: 24px;
      text-align: center;
   }

  @media screen and (max-width:1150px){
    .content{
      width:100%;
    }
    .container_1{
      height:650px;
    }
    .header ul{
      width:600px;
      height: 60px;
    }
    .header ul li{
      width: 100px;
    }
    .header ul li a{
        font-size: 18px;
    }


  }
  @media screen and (max-width:768px){
    .content{
      width:768px;
    }
    .header ul{
      width:300px;
      height: 60px;
    }
    .header ul{
      width:500px;
      height: 60px;
    }
    .header ul li{
      width: 80px;
    }
    .header ul li a{
        font-size: 12px;
  }
  }

  @media screen and(max-width:1150px){

    .container_1{

      height:1200px;

    }
    .content{
      height:1000px;
    }
    .portfolio{
      height:900px;
      width:700px;
    }
    .strap_1{
        width:800px;
        height:364px;
        margin: 80px auto 0;

    }
    .strap_1_3{
      width:262px;
      height:364px;
 float:left;
  }
}
@media screen and(max-width:768px){
 .container_2{

   height:1500px;

 }
