*{
  margin:0;
  padding:0;

}

body{
  background:#F1EBD9;

}
.container_1{
  width:100%;
  height:800px;
  background:#F1EBD9;
}
.content{
  width:1150px;
  height:800px;
  margin: 0 auto;
  background:#F1EBD9;
  background-size: cover;

}

.header ul{
  padding:40px 0 0 0;
  width:1150px;
  height: 60px;
  margin: 0 auto;
}
.header ul li{
  width: 120px;
  height:40px;
  line-height: 40px;
  float:left;
  font-weight: bolder;
  margin-left: 60px;
  list-style-type: none;
  text-align: center;

}




.header ul li a{

  font-family: arial;
  font-size: 20px;
  font-weight: bolder;
  text-decoration: none;
  color:white;



}
.header ul li a:hover{
  color:#6EE1FF;
  transition: color 0.5s;
}
.intro{

  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background: url(../image/save3.png) center -80px;
  background-size: contain;
  padding-bottom: 300px;

}

.intro h1{
  font-family: arial;
  font-size: 100px;
  color:white;
  font-weight: bolder;
  letter-spacing:3px;
  padding-top:190px;

}
.intro h2{
  color:white;
  font-family: arial;
  font-size: 30px;
  font-weight:bolder;
  letter-spacing: 5px;
  margin-bottom: 15px;

}
.intro p{
  color:white;
  font-family: arial;
  font-size: 15px;
  font-weight:bolder;
  letter-spacing: 3px;

}

.line1{
  width:1071px;
  height:4px;
  background-color: white;
  margin: 30px auto 50px;
}

.hd_btn{
  display:block;
  width:334px;
  height:65px;
  background: #3BA7C3;
  color:#fff;
  font-size: 24px;
  font-family: sans-serif;
  text-decoration: none;
  border-radius: 30px;
  line-height:65px;
  margin:0 auto;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.hd_btn:hover{
  opacity: 0.7;
}

.container_2{
  width:100%;
  height:500px;
  background:#FDFBF8;

}

.portfolio{
  margin: 0 auto;
  height:500px;
  width:1162px;
  background: #F1EBD9;
}
 .portfolio h1{
     font-size: 64px;
     font-family: arial;
     color:#6A6A6A;


 }
 .portfolio #b_portfolio{
    margin:0 auto;
    text-align: center;
    padding-top: 50px;

 }
 .line2{
  width: 103px;
  height: 10px;
  background: #6A6A6A;
  margin: 25px auto 0px;
 }


.strap_1{
    width:1162px;
    height:364px;
    margin: 60px auto 0;

}

.strap_1_1{
  width:262px;
  height:364px;
  float: left;
}

 .image_1{
   width:262px;
   height:257px;
   /*background:url(../image/helper.png);*/
   background-size: contain;
   margin-bottom: 30px;
 }

 .image_1 a{
  opacity:0.7;
 }
 .image_1 a:hover{
   opacity:1;
   transition: opacity 0.5s;
 }


.line2_1{
  width:220px;
  height:5px;
  background:#6A6A6A;
  margin: 0 auto;
  margin-bottom: 10px;
}

 .strap_1 .strap_1_1 h1{
   font-size: 24px;
    text-align: center;
 }

 .strap_1_2{
   width:262px;
   height:364px;
float:left;
padding-left: 190px;
 }

  .image_2{
    width:262px;
    height:257px;

    background-size: contain;
    margin-bottom: 30px;
  }
  .image_2 a{
   opacity:0.7;
  }
  .image_2 a:hover{
    opacity:1;
    transition: opacity 0.5s;
  }
 .line2_2{
   width:220px;
   height:5px;
   background:#6A6A6A;
   margin: 0 auto;
   margin-bottom: 10px;
 }

  .strap_1 .strap_1_2 h1{
    font-size: 24px;
     text-align: center;
  }

  .strap_1_3{
    width:262px;
    height:364px;
float:right;

  }

   .image_3{
     width:262px;
     height:257px;

     background-size: contain;
     margin-bottom: 30px;
   }
   .image_3 a{
    opacity:0.7;
   }
   .image_3 a:hover{
     opacity:1;
     transition: opacity 0.5s;
   }
  .line2_3{
    width:220px;
    height:5px;
    background:#6A6A6A;
    margin: 0 auto;
    margin-bottom: 10px;
  }

   .strap_1 .strap_1_3 h1{
     font-size: 24px;
      text-align: center;
   }


   .hd_btn_1{
     display:block;
     width:260px;
     height:55px;
     background: #3BA7C3;
     color:#fff;
     font-size: 24px;
     font-family: sans-serif;
     text-decoration: none;
     border-radius: 30px;
     line-height:55px;
     margin:0 auto;
     -webkit-transition: opacity 0.5s ease-in-out;
     -moz-transition: opacity 0.5s ease-in-out;
     -o-transition: opacity 0.5s ease-in-out;
     transition: opacity 0.5s ease-in-out;
   }
   #btn{
     clear: both;
     text-align:center;
   }
   .hd_btn_1:hover{
     opacity: 0.7;
   }
   .main{
     width:1202px;
     height:543px;
     margin: 0 auto;
   }
   .image_logo{
     float: left;
     width:328px;
     height:328px;

     margin-left: 100px;
     margin-top: 70px;
   }

   .words h1{
         display: block;
         float:left;
         text-align: left;
         margin-left: 170px;
         margin-top: 20px;
         font-weight: bold;
         width: 540px;
         height:67px;
         font-size: 40px;
         color: #6A6A6A;

   }

.words p {

        display: block;
        color: #6A6A6A;
        font-size: 20px;
        width:536px;
        font-family: arial;
        height: 396px;
        margin-left: 600px;
        margin-top: 50px;
        padding-top: 140px;

}

.container_3{
        width:100%;
        height:600px;
        background: #416788;
}
.con{
  margin: 0 auto;
  height:500px;
  width:1202px;
  background: #416788;
  color:#FDFBF8
}
.con h1{
  margin-left: 130px;
  padding-top: 100px;
  font-size: 40px;
  font-family: arial;
}

.con p{
  margin-left: 130px;
  padding-top: 20px;
  font-size: 20px;
  font-family: arial;
  float: left;
}

.research{
  width:500px;
  height:163px;
  float:right;
  margin: 100px 0 0 ;
  margin-right: 80px;
}



.research_1{
  width:328px;
  hwight:328px;
  float:right;
  margin: 20px 0 0 ;
  margin-right: 120px;
}

.container_4{
        width:100%;
        height:550px;
        background: #416788;
}
.con{
  margin: 0 auto;
  height:550px;
  width:1202px;
  background: #416788;
  color:#FDFBF8
}
@media screen and (max-width:1150px){
  .content{
    width:800px;
    height:1000px;
  }
  .container_1{
    height:650px;
  }
  .container_2{
    width:768px;
    height:1200px;
  }
  .portfolio{
    width:768px;
    height:1200px;
  }
  .main{
    width:768px;
    height:1200px;
    margin-left: 100px;

  }
  .header ul{
    width:600px;
    height: 60px;
  }
  .header ul li{
    width: 100px;
  }
  .header ul li a{
      font-size: 18px;
  }
   .portfolio{
     width:768px;
   }
 .strap_1{
   width:768px;
   margin-left: -40px;
 }
 .strap_1_3{
   float:left;
 }
.words p{
margin-left: 0px;
padding-top:500px;
padding-left: 100px;

}
.image_logo{
  margin-left: 200px;
}
.container_3{
  height:1200px;
}
.con{
  width:768px;
}
.research{
  float:left;
  margin-left:100px;
}
.container_4{
  height:1200px;
}
.research_1{
  float:left;
  margin-left:50px;
}
.hd_btn_1{
  float:left;
  margin-top:100px;
    margin-left:200px;
}
}
@media screen and (max-width:768px){
  .content{
    width:768px;
    height:1200px;
  }
  .header ul{
    width:300px;
    height: 60px;
  }
  .header ul{
    width:500px;
    height: 60px;
  }
  .header ul li{
    width: 80px;
  }
  .header ul li a{
      font-size: 12px;
}
.strap_1{
  width:600px;
  margin-left: -40px;
}
.strap_1_1{
  margin-left: 280px;
}
.strap_1_2{
   margin-left: 90px;
}
.strap_1_3{
  margin-left: 280px;
}
}
